<div >


<h1>Hi {{currentUser.firstName}}!</h1> You are an {{currentUser.globalRole}}!


<div *ngIf="ifAdmin">
<h3>All registered users:</h3>

<ul>
    <li *ngFor="let user of users">
        {{user.firstName}},  {{user.lastName}} 
        <!--        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a> -->
        - <a (click)="openDialog(user.id)">Edit user</a> 
    </li>
</ul>
</div>
<!--

<ng-template let-data>
    Hello, {{currentUser.firstName}}
  </ng-template>
  <button class="mat-raised-button" (click)="openDialog()">OPEN DIALOG</button>
-->