<div>
  <h1>Welcome to SMRPO 5</h1>
</div>

<div>
  <p>A school project created for the SMRPO subject, where students build a website that allows the organization of
    work by the SCRUM method.
  </p>
</div>

<div>
  <h2>Scrum</h2>
</div>

<div>
  <p>Scrum is an agile process framework for managing complex knowledge work, with an initial emphasis on software
    development, although it has been used in other fields and is slowly starting to be explored for other complex work,
    research and advanced technologies. It is designed for teams of ten or fewer members, who break their work into goals
    that can be completed within timeboxed iterations, called sprints, no longer than one month and most commonly two
    weeks, then track progress and re-plan in 15-minute time-boxed daily meetings, called daily scrums.
    <a href="https://en.wikipedia.org/wiki/Scrum_(software_development)">Wikipedia</a>
  </p>
</div>
