/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
a {
    cursor: pointer;
}
.userdata {
	padding: 1vh;
}

.logout {
	padding-left: 0px;
	
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
 }

.login-wrapper {
	display: flex;
	margin-top: 20vh;
	max-height: 60vh;
	width: 50vh;
	max-width: 80vh;
	position: absolute;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 30px;
	margin-top: 20px;
}


.mat-card-header{
	text-align: center;
	align-items: center;
	justify-content: center;
}


.box {
	margin-top: 5vh;
	/* bring your own prefixes */
	justify-content: center;
	align-items: center;
	opacity: 50;
	padding: 60px 50px 40px 50px;
	background-color: #ffffff;
	border-radius: 5px;
	color: black;	
	display: flex;
	width: 100%;
	max-width: 80vh;
	text-align: center;
}

.box-newProject {
	align-self: flex-start;
	opacity: 50;
	/*padding: 60px 50px 40px 50px;*/
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	max-width: 700px;
	color: black;
  min-height: 30px;
  margin-top: 5%;
}

.box-showProject {
 align-self: flex-start;
 opacity: 50;
 /*padding: 60px 50px 40px 50px;*/
 width: 100%;
 background-color: #ffffff;
 border-radius: 5px;
 max-width: 700px;
 color: black;
  min-height: 30px;
  margin-top: 5%;
  position: relative;
  display: table-cell;
}


.project-wrapper {
	width: 100vh !important;
  margin-top: 5px;
  /*padding: 0px 20px 10px !important;*/
}

.show-project-wrapper {
 width: 100vh !important;
  margin-top: 5px;
  /*padding: 0px 20px 10px !important;*/
  position: relative;
  display: table;
}


.box.back {
	transform: scale(.95);
	-webkit-transform: scale(.95);
	-ms-transform: scale(.95);
	top: -20px;
	opacity: .8;
	z-index: -1;
}

.inputfields {
	border-width: 0.5px;
	border-style: solid;
	padding: 5px 5px 5px 5px;
	color: #000000;
}

.mat-select-value{
  color:black
}

.login-wrapper .example-form {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
	width: 100%  !important;
}

.example-half-width {
	width: 48%;
  padding-right: 6px;
}

.example-oneWithButton-width {
	width: 88%;
  padding-right: 6px;
  display: inline-block !important;
}

.example-twoWithButton-width {
	width: 44%;
  padding-right: 6px;
  display: inline-block !important;
}

.mat-button-wrapper{
  vertical-align: top;
  margin-top: -10px;
  text-align: center !important;
  vertical-align: middle !important;
  height: 5px;
}

.btn-right {
  display: inline-block !important;
  font-size: 10px !important;
  /*height: 25px;*/
  height: auto;
  /*width: 25px !important;*/
  width: auto !important;
  min-width: unset!important;
  min-height: unset!important;
  margin: 0px;
  padding: 0px;
}

.cdk-textarea-autosize {
  height: 60px !important;
}

.btn-block-newProject {
	width: 50%  !important;
}

.login-wrapper mat-card-header {
	text-align: center;
	width: 100%;
	display: block;
	font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
	font-size: 30px;
	margin: 0;
}

.login-wrapper .mat-card {
	padding: 40px 70px 50px;
}

.mat-stroked-button {
	border: 1px solid currentColor;
	background: #23286d;
	width: 50%;
	padding: 100px;


	
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
	padding: 0.8375em 0;
	color: black
}

.mat-form-field-label {
	color: gray !important;
}

.mat-form-field-underline {
	background-color: gray !important;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-tab-label {
	margin: 2%;
	color: #000000;
}
.example-tab-icon {
	margin: 10px;
}
.mat-tab-group {
	width: 100%;

}

