/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
a {
    cursor: pointer;
}

.container {
	height: 100vh;
	width: 100vh;
}
.login-wrapper {
	display: flex;
	height: 80vh;
	width: 50vh;
	position: relative;
	justify-content: center;
	z-index: 2;
}


.alert_massage {
    position:fixed; 
	margin-top: 10vh; 
	margin-bottom: -10vh;
    left: 0px; 
    width: 100%;
    z-index:9999; 
}
.box {
	/* bring your own prefixes */
	align-self: center;
	opacity: 50;
	float: center;
	padding: 60px 50px 40px 50px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	max-width: 500px;
	color: black;

}

.box-newProject {
	align-self: flex-start;
	opacity: 50;
	padding: 60px 50px 40px 50px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	max-width: 700px;
	color: black;
  min-height: 30px;
  margin-top: 5%;
}

.project-wrapper {
	width: 70vh;
}

.box.back {
	transform: scale(.95);
	-webkit-transform: scale(.95);
	-ms-transform: scale(.95);
	top: -20px;
	opacity: .8;
	z-index: -1;
}

.inputfields {
	border-width: 0.5px;
	border-style: solid;
	padding: 5px 5px 5px 5px;
	color: #000000;
}

.mat-select-value{
  color:black
}

.login-wrapper .example-form {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
	width: 100%  !important;
}

.example-half-width {
	width: 48%;
  padding-right: 6px;
}

.example-twoWithButton-width {
	width: 44%;
  padding-right: 6px;
  display: inline-block !important;
}

.mat-button-wrapper{
  vertical-align: top;
  margin-top: -10px;
  text-align: center !important;
  vertical-align: middle !important;
  height: 5px;
}

.btn-right {
  display: inline-block !important;
  font-size: 10px !important;
  /*height: 25px;*/
  height: auto;
  /*width: 25px !important;*/
  width: auto !important;
  min-width: unset!important;
  min-height: unset!important;
  margin: 0px;
  padding: 0px;
  float: right;
}

.btn-block-newProject {
	width: 50%  !important;
}

.login-wrapper mat-card-header {
	text-align: center;
	width: 100%;
	display: block;
	font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
	font-size: 30px;
	margin: 0;
}

.login-wrapper .mat-card {
	padding: 40px 70px 50px;
}

.login-wrapper .mat-stroked-button {
	border: 1px solid currentColor;
	line-height: 54px;
	background: #23286d;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
	padding: 0.8375em 0;
	color: black
}

.mat-form-field-label {
	color: gray !important;
}

.mat-form-field-underline {
	background-color: gray !important;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

a {
    cursor: pointer;
}
