@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.mat-card {
	padding: 40px 50px 50px;
}

.task-wrapper {

  width: 90vw !important;
  margin:unset !important;
  position: unset !important;
  position: relative !important;
  size: unset !important;
  margin-top: 5px !important;
  margin-left: -25vw !important;
  margin-right: 5vw !important;
  max-width: 100% !important;
  min-width: 40%;
  display: table;
}

.box-task {
	align-self: flex-start;
	opacity: 50;
	/*padding: 60px 50px 40px 50px;*/
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	max-width: 100%!important;
	color: black;
  min-height: 30px;
  margin-top: 5%;
  /*position: relative;*/
  display: table-cell;
}

.panel .panel-default{
  width: 100%;
  display: table;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #b0bec5;
  /*margin: 5px;*/
   /*display: table-row;*/
}

.description {
  margin: 10px;
  width: 57%;
  /*display: table-row;*/
}

.cdk-textarea {
  /*height: 30px !important;*/
  height: 20px;
  /*overflow: hidden;*/
  resize: none;
  overflow-x: hidden !important;
  /*resize:horizontal !important;*/
  overflow-y: hidden !important;
  white-space: nowrap;
  /*box-sizing: border-box;*/
}

.select-time {
  margin: 10px;
  width: 8%;
  /*display: table-row;*/
}

.member {
	width: 20%;
  padding-right: 6px;
  display: inline-block !important;
  margin: 10px;
}

btn-margin {
  margin: 10px;
}


