<div class="login-wrapper task-wrapper" fxLayout="row" fxLayoutAlign="center center " >
  <mat-card class="box-task" layout-align="center center" >
    <mat-card-header>
      <mat-card-title>Add tasks</mat-card-title>
    </mat-card-header>

    <form [formGroup]="taskForm"  class="example-form">



      <mat-card-content>

       <!--<mat-form-field class="example-full-width " >-->
          <!--<input class="inputfields" matInput placeholder="Product owner" formControlName="productOwner" required>-->
        <!--</mat-form-field>-->



        <form [formGroup]="myForm" class="example-form">


          <div formArrayName="tasks">
            <div *ngFor="let teamMember of myForm.controls.tasks['controls']; let i=index" class="panel panel-default" >

              <div [formGroup]="teamMember">

               <!--ne brisat!-->
                <!--<mat-checkbox class="mat-checkbox "></mat-checkbox>-->

                {{i+1}}.


                <!--<mat-form-field class="example-full-width " >-->
                <mat-form-field class="description " >
                  <textarea class="cdk-textarea" matInput rows="1" placeholder="Task description" formControlName="taskDescription" required></textarea>
                </mat-form-field>

                <mat-form-field class="select-time">
                  <input  type="number"
                      min="0.5"
                      step="0.5"
                      required
                      placeholder="Size"
                      matInput
                      formControlName="taskSize"
                      name="rateInput">
                  <!--[(ngModel)]="rateInput"-->
                </mat-form-field>

                <mat-form-field class="member">
                  <input type="text"
                         placeholder="Team member"
                         aria-label="Number"
                         matInput
                         [formControl]="taskForm.get('task').get('tasks').get([i]).get('memberName')"
                         [matAutocomplete]="autoTeamMember"
                         matNativeControl
                         formControlName="memberName">
                  <mat-autocomplete autoActiveFirstOption #autoTeamMember="matAutocomplete" >
                      <mat-option *ngFor="let userNameTeamMember of filteredOptionsTeamMember[i] | async" [value]="userNameTeamMember">
                        {{userNameTeamMember}}
                      </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <button mat-stroked-button color="accent" class="btn-right btn-margin" (click)="removeTask(i)">
                   <!--<span id="btn-remove" class="glyphicon glyphicon-remove"></span>-->
                  <!--X-->
                  <span class="mat-button-wrapper"> X </span>
                </button>

                <!--<button mat-stroked-button color="accent" class="btn-right " (click)="removeMember(i)">-->
                   <!--&lt;!&ndash;<span id="btn-remove" class="glyphicon glyphicon-remove"></span>&ndash;&gt;-->
                  <!--&lt;!&ndash;X&ndash;&gt;-->
                  <!--<span class="mat-button-wrapper" class="glyphicon glyphicon-pencil">  </span>-->
                <!--</button>-->
              </div>
            </div>
          </div>

          <div>
            <button mat-stroked-button color="accent" class="btn-block-newProject" (click)="addTask()">Add task</button>
          </div>

        </form>
      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block-newProject" (click)="onSubmit()">Save created tasks</button>

    </form>
  </mat-card>
</div>
