@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.title-dashboard {
	font-size: 30px;
	margin: 20px;
  align-self: center;
  text-align:center;
}
.full-width-mat {
  width:95%;
  height: auto; 
  margin: 10px;
  /*overflow: scroll;*/
}

.currentSprintBackground {
  background-color: hsla(120, 100%, 75%, 0.3);
}
.half-width-right {
	width: 45%;
  padding-right: 6px;
  margin-right: 3%;
}
.half-width-left {
	width: 45%;
  /*padding-right: 6px;*/
  margin-left: 3%;
}

.acceptance-tests{
  white-space:pre-wrap;
}

table {
  width: 90%;
}

.greenBackground {
  background: #d9ffc7;
}

.whiteBackground {
  background: white;
}

.currentSprint {
  font-size: 13px;
  display: table !important;
}

.marginRight {
  margin-right: 5vh;
}

.velocity {
  display: inline-block;
  width: 15vw;
}

.used {
  display: inline-block;
  width: 15vw;
}

.remaning {
  display: inline-block;
  width: 15vw;
}

.card-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.calendar {
  height: 80vh;
  margin: 15px !important;
}

.show-hide-btn {
  width: 79vw;
}

.commentArea {
  margin: 5px;
  margin-left: 20px;
  width: 90%;
}

.cdk-textarea {
  display: inline-block !important;
  height: 30px;
  resize: none;
  overflow-x: hidden !important;
  /*overflow-y: hidden !important;*/
  white-space: nowrap;
  /*margin-bottom: 20px;*/
}

.show-comment-wrapper-left {
  width: 100vh !important;
  margin-top: 5px;
  /*padding: 0px 20px 10px !important;*/
  position: relative;
  display: table;
  margin: 10px;
}

.show-comment-wrapper-right {
  width: 100vh !important;
  margin-top: 5px;
  /*padding: 0px 20px 10px !important;*/
  position: relative;
  display: table;
  margin: 10px;
  /*margin-left: 31vw;*/
}

.box-comment {
  align-self: flex-start;
  opacity: 50;
  /*padding: 60px 50px 40px 50px;*/
  width: 100%;
  border-radius: 5px;
  max-width: 700px;
  min-height: 30px;
  /*margin-top: 5%;*/
  position: relative;
  display: table-cell;
  padding: 0px;
  /*margin: 10px;*/
}

.box-comment-left {
  background-color: #ffffff;
  color: black;
}

.box-comment-right {
  background-color: #c9e3ff;
  color: black;
}

#allComments {
  overflow-y: auto;
  height: 50vh;
}

.comment-text {
  padding-left: 20px;
  padding-top: 3px;
}

.comment-title {
  padding-top: 8px;
}

.commentsWallRight{
  display: table;
  float: right;
}
.commentsWallLeft{
  display: table;
}

.comment-inline {
   display: inline-block;
}

.btn-delete-comment {
  /*margin-left: 27vw;*/
  float: right;
  margin-top: 0px;
  display: inline-block;
}

.margin-btn-delete {
  vertical-align: top;
  margin-top: 6vh;
}

#footer {
  display: table;
  position: fixed;
  /*padding: 10px 10px 10px 10px;*/
  bottom: 10px;
  /*width: 81%;*/
  /*height: 10px;*/
  background: lightgrey;

  width: 80%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
