.title-dashboard {
	font-size: 30px;
	margin: 20px;
  align-self: center;
  text-align:center;
}
.full-width-mat {
  width:95%;
  height: auto; 
  margin: 10px;
  /*overflow: scroll;*/
}


.half-width-right {
	width: 45%;
  padding-right: 6px;
  margin-right: 3%;
}
.half-width-left {
	width: 45%;
  /*padding-right: 6px;*/
  margin-left: 3%;
}

.acceptance-tests{
  white-space:pre-wrap;
}

table {
  width: 90%;
}

.greenBackground {
  background: #b4ff8f;
}

.whiteBackground {
  background: white;
}
