<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">av_timer</mat-icon>
        Sprint
      </ng-template>

      <button mat-stroked-button color="accent" (click)="openDialog();" >Add Sprint</button>
      <div *ngFor="let sprint of sprints; let i = index">
        
        Sprint id: {{sprint.id}}
        <br>
        Start date: {{sprint.startDate}}
        <br>
        End date: {{sprint.endDate}}
        <br>
        Velocity: {{sprint.velocity}}

        </div>


    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Ediit
      </ng-template>
      Content 2
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Third
      </ng-template>
  
      Content 3
    </mat-tab>

  </mat-tab-group>