@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.title-dashboard {
	font-size: 30px;
	margin: 20px;
  align-self: center;
  text-align:center;
}
.full-width-mat {
  width:95%;
  height: auto; 
  margin: 10px;
  /*overflow: scroll;*/
}


.half-width-right {
	width: 45%;
  padding-right: 6px;
  margin-right: 3%;
}
.half-width-left {
	width: 45%;
  /*padding-right: 6px;*/
  margin-left: 3%;
}

.acceptance-tests{
  white-space:pre-wrap;
}

table {
  width: 90%;
}

.greenBackground {
  background: #d9ffc7;
}

.whiteBackground {
  background: white;
}

.currentSprint {
  font-size: 13px;
  display: table !important;
}

.marginRight {
  margin-right: 5vh;
}

.velocity {
  display: inline-block;
  width: 15vw;
}

.used {
  display: inline-block;
  width: 15vw;
}

.remaning {
  display: inline-block;
  width: 15vw;
}

.card-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*.fc-view-container {*/
  /*height: 50% !important;*/
  /*margin: 10px !important;*/
/*}*/

.calendar {
  height: 80vh;
  margin: 15px !important;
}

.show-hide-btn {
  width: 79vw;
}
