<div class="login-wrapper project-wrapper" fxLayout="row" fxLayoutAlign="center center " >
  <mat-card class="box-newProject" layout-align="center center" >
    <mat-card-header>
      <mat-card-title>New project</mat-card-title>
    </mat-card-header>

    <form [formGroup]="projectForm"  class="example-form">



      <mat-card-content>

        <mat-form-field class="example-full-width " >
          <input class="inputfields" matInput placeholder="Project name" formControlName="projectName" required>
          <!--<input class="inputfields" matInput placeholder="Project name" formControlName="projectName" required [ngClass]="{ 'is-invalid': submitted && f.projectName.errors }">-->
          <!--<div *ngIf="submitted && f.projectName.errors" class="invalid-feedback">-->
            <!--<div *ngIf="f.projectName.errors.required">Project name is required</div>-->
          <!--</div>-->
        </mat-form-field>

        <mat-form-field class="example-full-width " >
          <textarea class="cdk-textarea-autosize" matInput placeholder="Project description" formControlName="projectDescription"></textarea>
        </mat-form-field>



        <!--<mat-form-field class="example-full-width ">-->
          <!--<mat-label>Team roles</mat-label>-->

          <!--<mat-select matNativeControl required>-->
            <!--<mat-option>None</mat-option>-->
            <!--<mat-option value="product-manager-0">Product manager</mat-option>-->
            <!--<mat-option value="methodology-administrator-1">Methodology administrator</mat-option>-->
            <!--<mat-option value="team-member-2">Team member</mat-option>-->
          <!--</mat-select>-->
        <!--</mat-form-field>-->

        <!--<mat-form-field class="example-full-width ">-->
          <!--<mat-label>Team role</mat-label>-->
          <!--<mat-select>-->
            <!--<mat-option *ngFor="let team of teamRoles" [value]="team.value">-->
              <!--<option class="valuefields"> {{team.viewValue}} </option>-->
            <!--</mat-option>-->
          <!--</mat-select>-->
        <!--</mat-form-field>-->


         <!--<mat-form-field class="example-full-width ">-->
          <!--<mat-label>Team roles</mat-label>-->
            <!--<mat-select #userName="ngModel" [(ngModel)]="allUsers" name="allUsers">-->
                <!--<ngx-mat-select-search [(ngModel)]="allUsers" [placeholderLabel]="'Search...'"-->
                  <!--[noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search>-->
                <!--<mat-option *ngFor="let user of allUsers" [value]="user.username">-->
                <!--{{user.username}}-->
              <!--</mat-option>-->
            <!--</mat-select>-->
          <!--</mat-form-field>-->


          <mat-form-field class="example-full-width">
            <input type="text"
                   placeholder="Product owner"
                   aria-label="Number"
                   matInput
                   [formControl]="projectForm.get('productOwner')"
                   [matAutocomplete]="autoProductOwner"
                   matNativeControl required
                   formControlName="productOwner">
            <!--[formControl]="myControl"-->
            <!--formControlName="productOwner"-->
            <mat-autocomplete autoActiveFirstOption #autoProductOwner="matAutocomplete" >
                <mat-option *ngFor="let userNameProductOwner of filteredOptionsProductOwner | async" [value]="userNameProductOwner">
                  {{userNameProductOwner}}
                </mat-option>
            </mat-autocomplete>
          </mat-form-field>



       <!--<mat-form-field class="example-full-width " >-->
          <!--<input class="inputfields" matInput placeholder="Product owner" formControlName="productOwner" required>-->
        <!--</mat-form-field>-->

        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Scrum master"
                 aria-label="Number"
                 matInput
                 [formControl]="projectForm.get('scrumMaster')"
                 [matAutocomplete]="autoScrumMaster"
                 matNativeControl required
                 formControlName="scrumMaster">
          <mat-autocomplete autoActiveFirstOption #autoScrumMaster="matAutocomplete" >
              <mat-option *ngFor="let userNameScrumMaster of filteredOptionsScrumMaster | async" [value]="userNameScrumMaster">
                {{userNameScrumMaster}}
              </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!--<mat-form-field class="example-full-width " >-->
          <!--<input class="inputfields" matInput placeholder="Scrum master" formControlName="scrumMaster" required>-->
        <!--</mat-form-field>-->

        <form [formGroup]="myForm" class="example-form">


          <div formArrayName="teamMembers">
            <div *ngFor="let teamMember of myForm.controls.teamMembers['controls']; let i=index" class="panel panel-default" >

                <div [formGroup]="teamMember">


                 <mat-form-field class="example-oneWithButton-width">
                  <input type="text"
                         placeholder="Team member"
                         aria-label="Number"
                         matInput
                         [formControl]="projectForm.get('projekt').get('teamMembers').get([i]).get('memberName')"
                         [matAutocomplete]="autoTeamMember"
                         matNativeControl required
                         formControlName="memberName">

                  <mat-autocomplete autoActiveFirstOption #autoTeamMember="matAutocomplete" >
                      <mat-option *ngFor="let userNameTeamMember of filteredOptionsTeamMember[i] | async" [value]="userNameTeamMember">
                        {{userNameTeamMember}}
                      </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <!--<mat-form-field class="example-oneWithButton-width " required >-->
                  <!--<input class="inputfields" matInput placeholder="Team member" formControlName="memberName">-->

                <!--</mat-form-field>-->


                <!--<mat-form-field class="example-twoWithButton-width ">-->
                  <!--<mat-label>Team roles</mat-label>-->

                  <!--<mat-select matNativeControl required formControlName="selectedRole">-->
                    <!--<mat-option>None</mat-option>-->
                    <!--<mat-option value="Product owner">Product owner</mat-option>-->
                    <!--<mat-option value="Scrum master">Scrum master</mat-option>-->
                    <!--<mat-option value="Team member">Team member</mat-option>-->
                  <!--</mat-select>-->
                <!--</mat-form-field>-->


                <button mat-stroked-button color="accent" class="btn-right " (click)="removeMember(i)">
                   <!--<span id="btn-remove" class="glyphicon glyphicon-remove"></span>-->
                  <!--X-->
                  <span class="mat-button-wrapper"> X </span>
                </button>
              </div>
            </div>
          </div>

          <div>
            <button mat-stroked-button color="accent" class="btn-block-newProject" (click)="addMember()">Add team member</button>
          </div>

        </form>
      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block-newProject" (click)="onSubmit()">Start new project</button>

    </form>
  </mat-card>
</div>
