<h1 mat-dialog-title>You want to accept the assignment?</h1>
<div mat-dialog-content>
  <!--<p>Did you complete the task?</p>-->
  <!--<p>The choice will be irreversible</p>-->
  <!--<mat-form-field>-->
    <!--<mat-label>Favorite Animal</mat-label>-->
    <!--<input matInput [(ngModel)]="data.animal">-->
  <!--</mat-form-field>-->
</div>
<div mat-dialog-actions>

  <!--(click)="onClick(false)"-->
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
  <button mat-button [mat-dialog-close]='true' cdkFocusInitial>Yes</button>
  <button mat-button [mat-dialog-close]='false'>No</button>
</div>
