<h1 mat-dialog-title>The task is NOT yet complete?</h1>
<div mat-dialog-content>
  <!--<p>Did you complete the task?</p>-->
  <!--<p>The choice will be irreversible</p>-->
  <!--<mat-form-field>-->
    <!--<mat-label>Favorite Animal</mat-label>-->
    <!--<input matInput [(ngModel)]="data.animal">-->
  <!--</mat-form-field>-->
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]='true'>No</button>
  <!--(click)="onClick(false)"-->
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
  <button mat-button [mat-dialog-close]='false' cdkFocusInitial>Yes</button>
</div>
