@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.mat-card {
	padding: 40px 50px 50px !important;
}

.task-wrapper {
  width: unset !important;
  width: 80vw !important;
  margin:unset !important;
  float: none;
  position: relative !important;
  size: unset !important;
  margin-top: 5px !important;
  /*margin-left: -25vw !important;*/
  margin-right: 5vw !important;
  max-width: 100% !important;
  min-width: 40% !important;
	justify-content: center;
	align-items: center;
  display: table !important;
  /*height: auto;*/

  /*width: 90vw !important;*/
  /*margin:unset !important;*/
  /*position: unset !important;*/
  /*position: relative !important;*/
  /*size: unset !important;*/
  /*margin-top: 5px !important;*/
  /*margin-left: -25vw !important;*/
  /*!*margin-right: 5vw !important;*!*/
  /*max-width: 100% !important;*/
  /*min-width: 40%;*/
  /*display: table;*/
  /*justify-content: center;*/
	/*align-items: center;*/

}

.box-task {
	align-self: flex-start;
	opacity: 50;
	/*padding: 60px 50px 40px 50px;*/
	width: 100%!important;
	background-color: #ffffff;
	border-radius: 5px;
	max-width: 100%!important;
	color: black;
  min-height: 30px;
  margin-top: 5%;
  /*position: relative;*/
  display: table-cell;
}

.panel .panel-default{
  width: 100% !important;
  display: table;
  table-layout: fixed;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #b0bec5;
  /*margin: 10px;*/
   /*display: table-row;*/
  /*display: table-cell;*/
  display: inline-block;
}

.checkbox{
  /*margin-right: 5px;*/
  display: inline-block;
}

.marginLeft {
  margin-left: 10px;
}

.index-tag {
  margin-right: 10px;
  margin-left: 10px;
  /*display: table-cell;*/
  display: inline-block;
}

.index {
  margin-right: 10px;
  margin-left: 20px;
  /*display: table-cell;*/
  display: inline-block;
}

.description {
  margin: 10px;
  width: 35%;
  /*display: table-cell;*/
  /*display: table-row;*/
  display: inline-block;
}

.cdk-textarea {
  /*height: 30px !important;*/
  height: 20px;
  /*overflow: hidden;*/
  resize: none;
  overflow-x: hidden !important;
  /*resize:horizontal !important;*/
  overflow-y: hidden !important;
  white-space: nowrap;
  /*box-sizing: border-box;*/
}

.select-time {
  margin: 10px;
  width: 8%;
  display: inline-block;
  /*display: table-row;*/
}

.member{
	width: 15%;
  padding-right: 6px;
  display: inline-block !important;
  margin: 10px;
}

.memberBlack {
	/*width: 15%;*/
  /*padding-right: 6px;*/
  /*display: inline-block !important;*/
  /*margin: 10px;*/
  color: black;
}

.memberGray {
	/*width: 15%;*/
  /*padding-right: 6px;*/
  /*display: inline-block !important;*/
  /*margin: 10px;*/
  color: gray;
}

.btn-margin {
  margin: unset !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  display: inline-block !important;
}

.btn-check {
  margin: unset !important;
  background: white;
  padding-left: 5px;
  padding-right: 5px;
  border: 0px;
  border-radius: 5px;
  /*display: inline-block !important;*/
}

.glyphicon-color {
    color: grey;
}

.btn-addTask {
  width: fit-content;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-left: 5px;
  /*bottom: 10%;*/
  /*left: 50%;*/
  /*margin-left: -60px;*/
}

.memberGray:hover .tooltiptext {
  visibility: visible;
}

.memberBlack:hover .tooltiptext {
  visibility: visible;
}

.white-block {
  color: white !important;
  background: white;
  border-color: white;
  text-decoration-color: white;
}

.green-block {
  color: #d9ffc7 !important;
  background: #d9ffc7 !important;
  border-color: #d9ffc7;
  text-decoration-color: #d9ffc7;
}

.title-tasks {
	font-size: 30px;
	margin: 20px;
  margin-left: -550px;
  align-self: center;
  text-align:center;
  justify-content: center;
	align-items: center;
}

.greenBackground {
  background: #d9ffc7;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 10px;
}

.whiteBackground {
  background: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.whiteButton {
  background: white;
}
