<button mat-stroked-button color="accent" class="btn-back-out" (click)="backToBacklog()">
  <span class=" glyphicon glyphicon-arrow-left btn-back-in">  </span>
</button>

<div class="col-lg-12">
  <div class="title-tasks"><b>Story: </b> {{zgodbaIme}}</div>
  <div class="task-wrapper" fxLayout="row" fxLayoutAlign="center center " >
    <mat-card class="box-task" layout-align="center center" >
      <mat-card-header>
        <mat-card-title>Tasks</mat-card-title>
      </mat-card-header>

      <div *ngIf="allTasks.length > 0">

        <div class="checkbox marginLeft"><b>Done</b></div>

        <div class="index-tag " ><b>#</b></div>

        <div class="description " ><b>Task</b></div>

        <div class="select-time" ><b>Time (hrs)</b></div>

        <div class="member" ><b>Team member</b></div>


        <div *ngFor="let task of allTasks; let i=index" class="panel panel-default" [ngClass]="(task.isReady == true) ? 'greenBackground': 'whiteBackground'">


          <!--<mat-checkbox [ngModel]="false" class="btn-check"></mat-checkbox>-->

          <div *ngIf="task.isReady === false" class="checkbox" >
            <div *ngIf="task.user === trenutniUporabnik">
              <button class="btn-check" (click)="taskDone(i, task.id)" >
                <span class="glyphicon glyphicon-unchecked glyphicon-color">  </span>
              </button>
            </div>
            <div *ngIf="task.user != trenutniUporabnik">
              <button class="btn-check" disabled title="Only the assigned user can mark the task as ready" >
                <span class="glyphicon glyphicon-unchecked glyphicon-color">  </span>
              </button>
            </div>
          </div>
          <div *ngIf="task.isReady === true" class="checkbox">
            <div *ngIf="task.user === trenutniUporabnik">
              <button class="btn-check " (click)="taskNotDone(i, task.id)" >
                <span class="glyphicon glyphicon-check glyphicon-color">  </span>
              </button>
            </div>
            <div *ngIf="task.user != trenutniUporabnik">
              <button class="btn-check" disabled title="You cannot restart the task" >
                <span class="glyphicon glyphicon-check glyphicon-color">  </span>
              </button>
            </div>
          </div>


            <!--<div *ngIf="task.check === false" class="mat-checkbox" >-->
              <!--<mat-checkbox [ngModel]="false" (click)="openDialog(i)"></mat-checkbox>-->
            <!--</div>-->

            <!--<div *ngIf="task.check === true" class="mat-checkbox" >-->
              <!--<mat-checkbox [ngModel]="true" disabled></mat-checkbox>-->
            <!--</div>-->




          <div class="index " >{{i+1}}. </div>


          <div class="description ">{{task.description}}</div>


          <div class="select-time" >{{task.timeEstimateHrs}}</div>

          <!--<div class="member" >{{task.user}}</div>-->
          <div *ngIf="task.user != undefined && task.user != null && task.user != ''" class="member" >
            <div *ngIf="task.userConfirmed === false" >
              <div class="memberGray">{{task.user}} <i>(pending)</i>
                <span class="tooltiptext">The task is not yet accepted</span>
              </div>
            </div>
            <div *ngIf="task.userConfirmed === true" >
              <div class="memberBlack">{{task.user}}
                <span class="tooltiptext">The task is accepted</span>
              </div>
            </div>
          </div>
          <div *ngIf="task.user === undefined || task.user === null || task.user === ''" class="member " >
            <div class="memberGray"><i>None</i>
              <span class="tooltiptext">The task is not assigned to any team member</span>
            </div>
          </div>


          <!--<div *ngIf="task.user === trenutniUporabnik" class="btn-right">-->
            <!--<div *ngIf="task.userConfirmed === true">-->
              <!--<div *ngIf="task.userWork === false">-->
                <!--<button mat-stroked-button color="accent" class="btn-right btn-margin" title='Start work' (click)="startWork(i)">-->
                  <!--<span class="mat-button-wrapper" class="glyphicon glyphicon-play">  </span>-->
                <!--</button>-->
              <!--</div>-->
              <!--<div *ngIf="task.userWork === true">-->
                <!--<button mat-stroked-button color="accent" class="btn-right btn-margin" title='Stop work' (click)="stopWork(i)">-->
                  <!--<span class="mat-button-wrapper" class="glyphicon glyphicon-stop">  </span>-->
                <!--</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <div *ngIf="task.user === trenutniUporabnik" class="btn-right">
            <div *ngIf="task.userConfirmed === true">
              <button mat-stroked-button color="accent" class="btn-right btn-margin whiteButton" title='Sorry, currently unavailable :(' (click)="time(i)">
                <span class="mat-button-wrapper" class="glyphicon glyphicon-time">  </span>
              </button>
            </div>
          </div>

          <!--blank space ------------------------------------------------------>
          <div *ngIf="task.user != trenutniUporabnik" class="btn-right">
              <button mat-stroked-button class="btn-right btn-margin" [ngClass]="(task.isReady == true) ? 'green-block': 'white-block'" disabled>
                <span class="mat-button-wrapper" class="glyphicon glyphicon-play">  </span>
              </button>
          </div>

           <!--blank space ---------------------------------------------------->
          <div *ngIf="task.user === trenutniUporabnik" class="btn-right">
            <div *ngIf="task.userConfirmed === false">
              <button mat-stroked-button class="btn-right btn-margin" [ngClass]="(task.isReady == true) ? 'green-block': 'white-block'" disabled>
                <span class="mat-button-wrapper" class="glyphicon glyphicon-play">  </span>
              </button>
            </div>
          </div>

          <div *ngIf="task.user === trenutniUporabnik" class="btn-right">
            <div *ngIf="task.userConfirmed === false">
              <button mat-stroked-button color="accent" class="btn-right btn-margin" title='Accept the assignment' (click)="acceptTask(i, task.id)" >
                <span class="mat-button-wrapper" class="glyphicon glyphicon-thumbs-up">  </span>
              </button>
            </div>
          </div>

          <div *ngIf="task.user === trenutniUporabnik" class="btn-right">
            <div *ngIf="task.userConfirmed === true">
              <button mat-stroked-button color="accent" class="btn-right btn-margin whiteButton" title='Give up the task' (click)="giveUpTask(i, task.id)">
                <span class="mat-button-wrapper" class="glyphicon glyphicon-thumbs-down">  </span>
              </button>
            </div>
          </div>

          <div *ngIf="task.user != trenutniUporabnik && jeTeamMember === true" class="btn-right">
            <div *ngIf="task.userConfirmed === false">
              <!--{{task.user}}-->
              <div *ngIf="!task.user">
                <button mat-stroked-button color="accent" class="btn-right btn-margin" title='Redirect to yourself' (click)="redirectTask(i, task.id)" >
                  <span class="mat-button-wrapper" class="glyphicon glyphicon-bell">  </span>
                </button>
              </div>
              <div *ngIf="task.user"> <!--blank space ------------------------------------------------------------>
                <button mat-stroked-button class="btn-right btn-margin" [ngClass]="(task.isReady == true) ? 'green-block': 'white-block'" disabled>
                  <span class="mat-button-wrapper" class="glyphicon glyphicon-bell">  </span>
                </button>
              </div>
            </div>
          </div>

          <!--blank space ------------------------------------------------------------>
          <div *ngIf="task.user != trenutniUporabnik" class="btn-right">
            <div *ngIf="task.userConfirmed === true || jeTeamMember === false">
              <button mat-stroked-button class="btn-right btn-margin" [ngClass]="(task.isReady == true) ? 'green-block': 'white-block'" disabled>
                <span class="mat-button-wrapper" class="glyphicon glyphicon-bell">  </span>
              </button>
            </div>
          </div>

          <button mat-stroked-button color="accent" class="btn-right btn-margin whiteButton" disabled  title='Sorry, currently unavailable :(' >
            <span class="mat-button-wrapper" class="glyphicon glyphicon-pencil">  </span>
          </button>

          <button mat-stroked-button color="accent" class="btn-right btn-margin whiteButton" disabled title='Sorry, currently unavailable :(' >
            <span class="mat-button-wrapper"> X </span>
          </button>

        </div>

      </div>
      <br><br>
      <button mat-stroked-button color="accent" class="btn-addTask" (click)="btnAddTask();">Add new task</button>

    </mat-card>
  </div>
</div>
