<div class="login-wrapper project-wrapper" fxLayout="row" fxLayoutAlign="center center " >
  <mat-card class="box-newProject" layout-align="center center" >
    <mat-card-header>
      <mat-card-title>Edit project</mat-card-title>
    </mat-card-header>

    <form [formGroup]="projectForm"  class="example-form">



      <mat-card-content>

        <mat-form-field class="example-full-width " >
          <input class="inputfields" matInput placeholder="Project name" formControlName="projectName" required>
        </mat-form-field>

        <mat-form-field class="example-full-width " >
          <textarea class="cdk-textarea-autosize" matInput placeholder="Project description" formControlName="projectDescription"></textarea>
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <input type="text"
                   placeholder="Product owner"
                   aria-label="Number"
                   matInput
                   [formControl]="projectForm.get('productOwner')"
                   [matAutocomplete]="autoProductOwner"
                   matNativeControl required
                   formControlName="productOwner">
            <!--[formControl]="myControl"-->
            <!--formControlName="productOwner"-->
            <mat-autocomplete autoActiveFirstOption #autoProductOwner="matAutocomplete" >
                <mat-option *ngFor="let userNameProductOwner of filteredOptionsProductOwner | async" [value]="userNameProductOwner">
                  {{userNameProductOwner}}
                </mat-option>
            </mat-autocomplete>
          </mat-form-field>


        <!--<mat-form-field class="example-full-width " >-->
          <!--<input class="inputfields" matInput placeholder="Product owner" formControlName="productOwner" required>-->
        <!--</mat-form-field>-->

        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Scrum master"
                 aria-label="Number"
                 matInput
                 [formControl]="projectForm.get('scrumMaster')"
                 [matAutocomplete]="autoScrumMaster"
                 matNativeControl required
                 formControlName="scrumMaster">
          <mat-autocomplete autoActiveFirstOption #autoScrumMaster="matAutocomplete" >
              <mat-option *ngFor="let userNameScrumMaster of filteredOptionsScrumMaster | async" [value]="userNameScrumMaster">
                {{userNameScrumMaster}}
              </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!--<mat-form-field class="example-full-width " >-->
          <!--<input class="inputfields" matInput placeholder="Scrum master" formControlName="scrumMaster" required>-->
        <!--</mat-form-field>-->

        <form [formGroup]="myForm" class="example-form">


          <div formArrayName="teamMembers">
            <div *ngFor="let teamMember of myForm.controls.teamMembers['controls']; let i=index" class="panel panel-default" >

                <div [formGroup]="teamMember">

                  <mat-form-field class="example-oneWithButton-width">
                    <input type="text"
                           placeholder="Team member"
                           aria-label="Number"
                           matInput
                           [formControl]="projectForm.get('projekt').get('teamMembers').get([i]).get('memberName')"
                           [matAutocomplete]="autoTeamMember"
                           matNativeControl required
                           formControlName="memberName">

                    <mat-autocomplete autoActiveFirstOption #autoTeamMember="matAutocomplete" >
                        <mat-option *ngFor="let userNameTeamMember of filteredOptionsTeamMember[i] | async" [value]="userNameTeamMember">
                          {{userNameTeamMember}}
                        </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                <!--<mat-form-field class="example-oneWithButton-width " required >-->
                  <!--<input class="inputfields" matInput placeholder="Team member" formControlName="memberName">-->
                <!--</mat-form-field>-->


                <!--<mat-form-field class="example-twoWithButton-width ">-->
                  <!--<mat-label>Team roles</mat-label>-->

                  <!--<mat-select matNativeControl required formControlName="selectedRole">-->
                    <!--<mat-option>None</mat-option>-->
                    <!--<mat-option value="Product owner">Product owner</mat-option>-->
                    <!--<mat-option value="Scrum master">Scrum master</mat-option>-->
                    <!--<mat-option value="Team member">Team member</mat-option>-->
                  <!--</mat-select>-->
                <!--</mat-form-field>-->


                <button mat-stroked-button color="accent" class="btn-right " (click)="removeMember(i)">
                   <!--<span id="btn-remove" class="glyphicon glyphicon-remove"></span>-->
                  <!--X-->
                  <span class="mat-button-wrapper"> X </span>
                </button>
              </div>
            </div>
          </div>

          <div>
            <button mat-stroked-button color="accent" class="btn-block-newProject" (click)="addMember()">Add team member</button>
          </div>

        </form>
      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block-newProject" (click)="onSubmit()">Save changes</button>

    </form>
  </mat-card>
</div>



<!--<div class="login-wrapper project-wrapper" fxLayout="row" fxLayoutAlign="center center " >-->
  <!--<mat-card class="box-newProject" layout-align="center center" >-->
    <!--<mat-card-header>-->
      <!--<mat-card-title>Edit project</mat-card-title>-->
    <!--</mat-card-header>-->

    <!--<form [formGroup]="projectForm"  class="example-form">-->

      <!--<mat-card-content>-->

        <!--<mat-form-field class="example-full-width " >-->
          <!--<input class="inputfields" matInput placeholder="Project name" formControlName="projectName" required>-->
          <!--&lt;!&ndash;<mat-error *ngIf="myForm.get('projectName').status === 'INVALID'">&ndash;&gt;-->
            <!--&lt;!&ndash;<validation-errors [errors]="myForm.get('projectName').errors"></validation-errors>&ndash;&gt;-->
          <!--&lt;!&ndash;</mat-error>&ndash;&gt;-->
        <!--</mat-form-field>-->

        <!--<form [formGroup]="myForm" class="example-form">-->


          <!--<div formArrayName="teamMembers">-->
            <!--<div *ngFor="let teamMember of myForm.controls.teamMembers['controls']; let i=index" class="panel panel-default" >-->

                <!--<div [formGroup]="teamMember">-->

                <!--<mat-form-field class="example-twoWithButton-width " required >-->
                  <!--<input class="inputfields" matInput placeholder="Member email" formControlName="memberName" required>-->

                <!--</mat-form-field>-->


                <!--<mat-form-field class="example-twoWithButton-width ">-->
                  <!--<mat-label>Team roles</mat-label>-->

                  <!--<mat-select matNativeControl required formControlName="selectedRole">-->
                    <!--<mat-option>None</mat-option>-->
                    <!--<mat-option value="product-manager-0">Product owner</mat-option>-->
                    <!--<mat-option value="methodology-administrator-1">Methodology master</mat-option>-->
                    <!--<mat-option value="team-member-2">Team member</mat-option>-->
                  <!--</mat-select>-->
                <!--</mat-form-field>-->


                <!--<button mat-stroked-button color="accent" class="btn-right " (click)="removeMember(i)">-->
                   <!--&lt;!&ndash;<span id="btn-remove" class="glyphicon glyphicon-remove"></span>&ndash;&gt;-->
                  <!--&lt;!&ndash;X&ndash;&gt;-->
                  <!--<span class="mat-button-wrapper"> X </span>-->
                <!--</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div>-->
            <!--<button mat-stroked-button color="accent" class="btn-block-newProject" (click)="addMember()">Add team member</button>-->
          <!--</div>-->

        <!--</form>-->
      <!--</mat-card-content>-->

      <!--<button mat-stroked-button color="accent" class="btn-block-newProject" >Save changes</button>-->

    <!--</form>-->
  <!--</mat-card>-->
<!--</div>-->




<!--<div class="login-wrapper project-wrapper" fxLayout="row" fxLayoutAlign="center center " >-->
  <!--<mat-card class="box-newProject" layout-align="center center" >-->
    <!--<mat-card-header>-->
      <!--<mat-card-title>Edit project</mat-card-title>-->
    <!--</mat-card-header>-->

    <!--<form class="example-form">-->

      <!--<mat-card-content>-->
        <!--<form [formGroup]="myForm" class="example-form">-->
          <!--<mat-form-field class="example-full-width " matNativeControl required>-->
            <!--<input class="inputfields" matInput placeholder="Project name">-->
          <!--</mat-form-field>-->

          <!--<div formArrayName="teamMembers">-->
            <!--<div *ngFor="let teamMember of myForm.controls.teamMembers['controls']; let i=index" class="panel panel-default">-->
              <!--<app-addMemberToProject></app-addMemberToProject>-->
              <!--<button mat-stroked-button color="accent" class="btn-right " (click)="removeMember(i)">-->
                <!--<span class="mat-button-wrapper"> X </span>-->
              <!--</button>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div>-->
            <!--<button mat-stroked-button color="accent" class="btn-block-newProject" (click)="addMember()">Add team member</button>-->
          <!--</div>-->

        <!--</form>-->
      <!--</mat-card-content>-->

      <!--<button mat-stroked-button color="accent" class="btn-block-newProject">Save changes</button>-->

    <!--</form>-->
  <!--</mat-card>-->
<!--</div>-->
